<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <form method="post" action="/login/forgotpassword/change"  
            name="formReset"
            id="formReset">
              <p class="text-center font-weight-bold">Change password</p>

              <% if (typeof username !== null || typeof username !== undefined)
              { %>
              <label>Username </label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control form-control-lg"
                placeholder="Enter your email"
                value=  <%= username %>
                readonly /> <% } %>


              <input
                type="text"
                name="password"
                id="password"
                class="form-control form-control-lg my-2"
                placeholder="New password"
                oninput="checkValidate()"
                required
              />
              <p id="passwordError"></p>

              <input
                type="text"
                name="confirm_password"
                id="confirm_password"
                class="form-control form-control-lg my-2"
                placeholder="Confirm new password"
                oninput="checkValidate()"
                required
              />
              <p id="repeatpassworddError"></p>
              <button
                type="submit"
                class="btn btn-primary btn-lg mt-2"
                style="padding-left: 2rem; padding-right: 2rem"
              >
                Change
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('script') %>

    <script>
      var valid = false;
      function checkValidate() {
        let newPassword = document.getElementById("password");
        let repeatNewPassword = document.getElementById("confirm_password");
        if (newPassword.value === null || newPassword.value === "") {
            newPassword.style.borderColor = "red";
          document.getElementById("passwordError").innerHTML =
            "Password is required";
        } else {
          valid = true;
          newPassword.style.borderColor = "green";
          document.getElementById("passwordError").innerHTML = "";
        }
        if (newPassword.value.length < 6) {
          newPassword.style.borderColor = "red";
          document.getElementById("passwordError").innerHTML =
            "Password is at least 6 characters";
        }

        if (
          repeatNewPassword.value !== newPassword.value &&
          repeatNewPassword.value !== "" &&
          newPassword.value.length === 6
        ) {
          repeatNewPassword.style.borderColor = "red";
          document.getElementById("repeatpassworddError").innerHTML =
            "Repeat password is not matches password! Please try again";
        } else if (repeatNewPassword.value === newPassword.value) {
          valid = true;
          repeatNewPassword.style.borderColor = "green";
          document.getElementById("repeatpassworddError").innerHTML = "";
        }
      }

      const formSubmit = document.getElementById("formReset");

  formSubmit.addEventListener("submit", function (event) {
    if (valid === false) {
      event.preventDefault();
    }
  });
    </script>
  </body>
</html>
