<div class="border p-5">
  <div class="container">
    <div
      class="d-flex justify-content-center font-weight-bold p-2"
      style="font-size: 20px"
    >
      FIFA PARTNERS
    </div>
    <div class="row">
      <div class="col-sm-2">
        <img
          decoding="async"
          loading="lazy"
          width="114"
          height="57"
          src="https://digitalhub.fifa.com/transform/f8b15d10-2085-44dd-9874-82222d941b6b/Vector-Adidas-new-logo?io=transform:fill,height:57,width:114"
        />
      </div>
      <div class="col-sm-2">
        <img
          decoding="async"
          loading="lazy"
          width="114"
          height="57"
          src="https://cloudinary.fifa.com/m/7b71c2f3185bddfb/original/fwc2022_fp_cocacola-co_lbgr.eps?tx=c_fill,x_57,y_28,g_xy_center,q_auto,w_114,h_57"
        />
      </div>
      <div class="col-sm-2">
        <img
          decoding="async"
          loading="lazy"
          width="114"
          height="57"
          src="https://cloudinary.fifa.com/m/7ecf457666d9fb6c/original/fwc2022_fp_dalian-wanda-co_lbgr.eps?tx=c_fill,x_57,y_28,g_xy_center,q_auto,w_114,h_57"
        />
      </div>
      <div class="col-sm-2">
        <img
          decoding="async"
          loading="lazy"
          width="114"
          height="57"
          src="https://cloudinary.fifa.com/m/6954f7d3fd116343/webimage-fwc2022_fp_hyundai-kia-co_lbgr.png?tx=c_fill,g_auto,q_auto,w_114,h_57"
        />
      </div>
      <div class="col-sm-2">
        <img
          decoding="async"
          loading="lazy"
          width="114"
          height="57"
          src="https://cloudinary.fifa.com/m/6d3a4cc8e08eeb0f/webimage-fwc2022_fp_qatar-co_lbgr.png?tx=c_fill,g_auto,q_auto,w_114,h_57"
        />
      </div>
      <div class="col-sm-2">
        <img
          decoding="async"
          loading="lazy"
          width="114"
          height="57"
          src="https://digitalhub.fifa.com/transform/aebad5a8-a4ff-467a-81d2-ab34c4843fbe/Vector-Qatar-Energy-logo?io=transform:fill,height:57,width:114"
        />
      </div>
    </div>
  </div>
</div>
