<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <form method="post" action="/login/forgotpassword/2">
              <p class="text-center font-weight-bold">
                Choose method for verify
              </p>

              <% if (typeof username !== null || typeof username !== undefined) { %>
                <label>Username </label>
                <input
                type="text"
                name="username"
                id="username"
                class="form-control form-control-lg"
                placeholder="Enter your email"
                value=  <%= username %>
                readonly
              />
              <% } %>

              <select
                class="custom-select my-3"
                id="select_method"
                onchange="handleOnchange()"
              >
                <option selected>Open this select menu</option>
                <option value="1">Email</option>
                <option value="2">Phone</option>
              </select>

              <input
                type="text"
                name="email"
                id="emailCheck"
                class="form-control form-control-lg"
                placeholder="Enter your email"
                style="display: none"
              />

              <input
                type="text"
                name="phone"
                id="phoneCheck"
                class="form-control form-control-lg"
                placeholder="Enter your phone number"
                style="display: none"
              />
              <button
                type="submit"
                class="btn btn-primary btn-lg mt-2"
                style="padding-left: 2rem; padding-right: 2rem"
              >
                Next
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('script') %>
    <script>
      function handleOnchange() {
        var select = document.getElementById("select_method").value;
        if (select == 1) {
          document.getElementById("emailCheck").style.display = "block";
          document.getElementById("phoneCheck").style.display = "none";
        }
        if (select == 2) {
          document.getElementById("emailCheck").style.display = "none";
          document.getElementById("phoneCheck").style.display = "block";
        }
      }
    </script>
  </body>
</html>
