<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <div class="container  ">
      <div class="row d-flex justify-content-center align-items-center">
        <!-- page1 -->
        <div class="card text-black mt-5" style="border-radius: 25px;background-color: bisque;" id="page1"  >
          <div class="card-body p-md-5">
            <!-- <form method="GET" action="/login/forgotpassword/1"> -->
            <p class="text-center font-weight-bold">RESET PASSWORD</p>

            <p id="result1" style="color: red"></p>

            <input
              type="text"
              name="username"
              id="username"
              class="form-control form-control-lg"
              placeholder="Enter username"
              required
            />
            <button
              id="check-username"
              class="btn btn-primary btn-lg mt-2"
              style="padding-left: 2rem; padding-right: 2rem"
            >
              Next
            </button>
            <!-- </form> -->
          </div>
        </div>

        <!-- page2 -->
        <div
          class="card text-black mt-5"
          id="forgotpassword2"
          style="display: none; border-radius: 25px;background-color: bisque;"
        >
          <div class="card-body p-md-5">
            <!-- <form method="GET" action="/login/forgotpassword/1"> -->
            <p class="text-center font-weight-bold">RESET PASSWORD</p>

            <p id="result2" style="color: red"></p>

            <!-- Page 2: Enter email and OTP -->

            <h1>Enter email and OTP for <span id="username-show"></span></h1>
            <input
              type="text"
              name="username1"
              id="username1"
              class="form-control form-control-lg"
              placeholder="example@gmail.com"
              readonly
              hidden
            />
            <input
              type="text"
              name="email"
              id="email"
              class="form-control form-control-lg"
              placeholder="example@gmail.com"
              required
            />

            <button
              id="enterEmail"
              class="btn btn-primary btn-lg mt-2"
              style="padding-left: 2rem; padding-right: 2rem"
            >
              Next
            </button>
            <!-- </form> -->
          </div>
        </div>

        <!-- page3 -->
        <div
          class="card text-black mt-5"
          style="border-radius: 25px; display: none;background-color: bisque;"
          id="forgotpassword3"
        >
          <div class="card-body p-md-5">
            <p class="text-center font-weight-bold">Verified OTP code</p>
            <p id="result3" style="color: red"></p>
            <input
              type="text"
              name="username2"
              id="username2"
              class="form-control form-control-lg"
              placeholder="Enter email"
              hidden
              readonly
            />
            <input
              type="text"
              name="otp"
              id="otp"
              class="form-control form-control-lg"
              placeholder="OTP code"
              required
            />

            <button
              id="checkOtp"
              class="btn btn-primary btn-lg mt-2;background-color: bisque;"
              style="padding-left: 2rem; padding-right: 2rem"
            >
              Submit
            </button>
          </div>
        </div>

        <!-- page4 -->
        <div
          class="card text-black mt-5"
          style="border-radius: 25px; display: none;background-color: bisque;"
          id="forgotpassword4"
        >
          <div class="card-body p-md-5">
            <p class="text-center font-weight-bold">Change password</p>
            <p id="result4" style="color: red"></p>
            <label>Username </label>
            <input
              type="text"
              name="username3"
              id="username3"
              class="form-control form-control-lg"
              placeholder="Enter your email"
              readonly
            />

            <input
              type="password"
              name="password"
              id="password"
              class="form-control form-control-lg my-2"
              placeholder="New password"
              oninput="checkValidate()"
              required
            />
            <p id="passwordError"></p>

            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              class="form-control form-control-lg my-2"
              placeholder="Confirm new password"
              oninput="checkValidate()"
              required
            />
            <p id="repeatpassworddError"></p>
            <button
              id="createNewPassword"
              class="btn btn-primary btn-lg mt-2"
              style="padding-left: 2rem; padding-right: 2rem; display: none"
            >
              Change
            </button>
          </div>
        </div>
      </div>
    </div>
    <%- include('script') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(() => {
        $("#check-username").click(() => {
          const username = $("#username").val();
          $.ajax({
            url: "/login/forgotpassword/1",
            type: "GET",
            data: { username: username },
            success: (response) => {
              console.log(response);
              if (response.status === "success") {
                // Render forgotpassword2 template with username
                const username = response.username;
                $("#username-show").text(username);
                $("#forgotpassword2").show();
                $("#page1").hide();
                $("#username").val("");
                $("#username1").val(username);
                $("#error-message").text("");
              } else {
                console.log(response);
                $("#result1").text("Username is not existed");
              }
            },
          });
        });
      });
      $("#enterEmail").click(() => {
        const username = $("#username1").val();
        const email = $("#email").val();
        $.ajax({
          url: "/login/forgotpassword/2",
          type: "POST",
          data: { username: username, email: email },
          success: (response) => {
            console.log(response);
            if (response.status === "success") {
              // Render forgotpassword2 template with username
              const username = response.username;
              $("#username-show").text(username);
              $("#forgotpassword2").hide();
              $("#forgotpassword3").show();
              $("#page1").hide();
              $("#username").val("");
              $("#username2").val(username);
              $("#error-message").text("");
            } else if (response.status === "faild1") {
              $("#result2").text("Please enter right format of email address");
            } else if (response.status === "faild2") {
              $("#result2").text("Can not find your email address");
            } else {
              $("#result2").text("Please enter your email ");
            }
          },
        });
      });
      $("#checkOtp").click(() => {
        const username = $("#username2").val();
        const otp = $("#otp").val();
        $.ajax({
          url: "/login/forgotpassword/3",
          type: "POST",
          data: { username: username, otp: otp },
          success: (response) => {
            console.log(response);
            if (response.status === "success") {
              // Render forgotpassword2 template with username
              const username = response.username;
              $("#username-show").text(username);
              $("#forgotpassword2").hide();
              $("#page1").hide();
              $("#forgotpassword3").hide();
              $("#forgotpassword4").show();
              $("#username").val("");
              $("#username2").val(username);
              $("#username3").val(username);
              $("#error-message").text("");
            } else {
              $("#result3").text("Wrong OTP");
            }
          },
        });
      });
      $("#createNewPassword").click(() => {
        const username = $("#username3").val();
        const password = $("#password").val();
        $.ajax({
          url: "/login/forgotpassword/change",
          type: "POST",
          data: { username: username, password: password },
          success: (response) => {
            console.log(response);
            if (response.status === "success") {
              window.location.href = "/login";
            } else {
              $("#result4").text("Your new password is the same as your old one");
            }
          },
        });
      });

      var valid = false;
      function checkValidate() {
        let newPassword = document.getElementById("password");
        let repeatNewPassword = document.getElementById("confirm_password");
        if (newPassword.value === null || newPassword.value === "") {
          valid = false;
          newPassword.style.borderColor = "red";
          document.getElementById("passwordError").innerHTML =
            "Password is required";
        } else {
          valid = true;
          newPassword.style.borderColor = "green";
          document.getElementById("passwordError").innerHTML = "";
        }
        if (newPassword.value.length < 6) {
          valid = false;
          newPassword.style.borderColor = "red";
          document.getElementById("passwordError").innerHTML =
            "Password is at least 6 characters";
        }

        if (
          repeatNewPassword.value !== newPassword.value &&
          repeatNewPassword.value !== "" &&
          newPassword.value.length === 6
        ) {
          valid = false;
          repeatNewPassword.style.borderColor = "red";
          document.getElementById("repeatpassworddError").innerHTML =
            "Repeat password is not matches password! Please try again";
        } else if (repeatNewPassword.value === newPassword.value) {
          valid = true;
          repeatNewPassword.style.borderColor = "green";
          document.getElementById("repeatpassworddError").innerHTML = "";
        }
        const formSubmit = document.getElementById("createNewPassword");
        console.log(valid);
        if (valid === true) {
          formSubmit.style.display = "block";
        }
      }

    </script>
  </body>
</html>
