body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.my_card {
  position: relative;
  background-color: #FFFF;
  transition: all 1s ease-in-out;
}

.my_card:hover .my_card_hover {

  /* new background color on hover */
  display: block;
  top: 0;
  background-color: #000000af;

}

.my_card_hover {
  border-radius: 22px;
  display: none;
  font-size: 19px;
  align-items: center;
  color: #fff;
  top: 10;
  height: 100%;
  position: absolute;

  opacity: 1;
}

.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none;
}